<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mitv"
    android:installLocation="preferExternal"
    android:largeHeap="true"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
    android:versionCode="129"
    android:versionName="1.0.129" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Re-enable this permission when accessing the system tasks -->
    <!-- <uses-permission android:name="android.permission.GET_TASKS" /> -->

    <supports-screens
        android:anyDensity="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="false" />
    
    <compatible-screens>

        <!-- all small size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="480"
            android:screenSize="small" />

        <!-- all normal size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="480"
            android:screenSize="normal" />

        <!-- all large size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="480"
            android:screenSize="large" />
    </compatible-screens>

    <application
        android:name="com.mitv.SecondScreenApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/ic_nav_bar"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- SPLASH SCREEN ACTIVITY -->
        <activity
            android:name="com.mitv.activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- HOME ACTIVITY -->
        <activity
            android:name="com.mitv.activities.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/HomePage"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- ACTIVITY PAGE -->
        <activity
            android:name="com.mitv.activities.FeedActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBarNoUp" />

        <!-- USER PROFILE ACTIVITY -->
        <activity
            android:name="com.mitv.activities.UserProfileActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBarNoUp"
            android:windowSoftInputMode="adjustPan" />

        <!-- USER PROFILE CONFIGURATION ACTIVITY -->
        <activity
            android:name="com.mitv.activities.UserProfileConfigurationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBarNoUp"
            android:windowSoftInputMode="adjustPan" />

        <!-- POPULAR CONTENT PAGE -->
        <activity
            android:name="com.mitv.activities.PopularPageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- SEARCH PAGE -->
        <activity
            android:name="com.mitv.activities.SearchPageActivity"
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar" />

        <!-- LIKES -->
        <activity
            android:name="com.mitv.activities.LikesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- MY CHANNELS -->
        <activity
            android:name="com.mitv.activities.MyChannelsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- REMINDERS -->
        <activity
            android:name="com.mitv.activities.RemindersActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar" >
        </activity>

        <!-- TERMS -->
        <activity
            android:name="com.mitv.activities.TermsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- About -->
        <activity
            android:name="com.mitv.activities.AboutUsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- BROADCAST PAGE -->
        <activity
            android:name="com.mitv.activities.BroadcastPageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- LIST MORE UPCOMING EPISODES PAGE -->
        <activity
            android:name="com.mitv.activities.broadcast_list_more.UpcomingListMoreActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- LIST MORE BROADCASTS REPEATITIONS PAGE -->
        <activity
            android:name="com.mitv.activities.broadcast_list_more.RepetitionsListMoreActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- LIST MORE BROADCASTS NOW AIRING PAGE -->
        <activity
            android:name="com.mitv.activities.broadcast_list_more.AiringOnDifferentChannelListMoreActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- CHANNEL PAGE -->
        <activity
            android:name="com.mitv.activities.ChannelPageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ChannelPage"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- SIGN IN -->
        <activity
            android:name="com.mitv.activities.SignUpSelectionActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- SIGN UP -->
        <activity
            android:name="com.mitv.activities.authentication.SignUpWithEmailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- MiTV LOGIN -->
        <activity
            android:name="com.mitv.activities.authentication.LoginWithMiTVUserActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- FACEBOOK LOGIN -->
        <activity
            android:name="com.mitv.activities.authentication.LoginWithFacebookActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_nav_bar"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBarNoUp"
            android:windowSoftInputMode="stateHidden" />

        <!-- PASSWORD RESET -->
        <activity
            android:name="com.mitv.activities.authentication.ResetPasswordSendEmailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- PASSWORD RESET FINAL -->
        <activity
            android:name="com.mitv.activities.authentication.ResetPasswordConfirmationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- HOCKEY APP ACTIVITIES -->
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity android:name="net.hockeyapp.android.FeedbackActivity" />

        <!-- GOOGLE ADMOB -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <receiver
            android:name="com.mitv.broadcastreceivers.AlarmReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.mitv.broadcastreceivers.AlarmSetter"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.mitv.broadcastreceivers.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Used for Google Play Store Campaign Measurement -->
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <receiver
            android:name="com.mitv.broadcastreceivers.CustomGoogleCampaignReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>