<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mitv"
    android:installLocation="preferExternal"
    android:largeHeap="true"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
    android:versionCode="85"
    android:versionName="1.0.85" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    
    <application
        android:name="com.mitv.SecondScreenApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        
        
        <!-- SPLASH SCREEN ACTIVITY -->
        <activity
            android:name="com.mitv.activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- HOME ACTIVITY -->
        <activity
            android:name="com.mitv.activities.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/HomePage" >
        </activity>

        <!-- ACTIVITY PAGE -->
        <activity
            android:name="com.mitv.activities.FeedActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar" />

        <!-- MYPROFILE ACTIVITY -->
        <activity
            android:name="com.mitv.activities.UserProfileActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar" />
        
        <!-- POPULAR CONTENT PAGE -->
        <activity
            android:name="com.mitv.activities.PopularPageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar" >
        </activity>

        <!-- SEARCH PAGE -->
        <activity
            android:name="com.mitv.activities.SearchPageActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/WhiteTitleActionBar" />

        <!-- LIKES -->
        <activity
            android:name="com.mitv.activities.LikesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- MY CHANNELS -->
        <activity
            android:name="com.mitv.activities.MyChannelsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/WhiteTitleActionBar" >
        </activity>

        <!-- REMINDERS -->
        <activity
            android:name="com.mitv.activities.RemindersActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar" >
        </activity>

        <!-- TERMS -->
        <activity
            android:name="com.mitv.activities.TermsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar" >
        </activity>

        <!-- About -->
        <activity
            android:name="com.mitv.activities.AboutUsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar" >
        </activity>

        <!-- About OR Terms -->
        <activity
            android:name="com.mitv.activities.AboutOrTermsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar" >
        </activity>

        <!-- BROADCAST PAGE -->
        <activity
            android:name="com.mitv.activities.BroadcastPageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar" >
        </activity>

        <!-- UPCOMING EPISODES PAGE -->
        <activity
            android:name="com.mitv.activities.UpcomingEpisodesPageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar" >
        </activity>

        <!-- REPEATITIONS PAGE -->
        <activity
            android:name="com.mitv.activities.RepetitionsPageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar" >
        </activity>
        
        <!-- REPEATITIONS OR UPCOMING PAGE -->
        <activity
            android:name="com.mitv.activities.RepetitionsOrUpcomingPage"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar" >
        </activity>

        <!-- CHANNEL PAGE -->
        <activity
            android:name="com.mitv.activities.ChannelPageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ChannelPage" >
        </activity>

        <!-- SIGN IN -->
        <activity
            android:name="com.mitv.activities.SignUpSelectionActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- SIGN UP -->
        <activity
            android:name="com.mitv.activities.authentication.SignUpWithEmailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- MiTV LOGIN -->
        <activity
            android:name="com.mitv.activities.authentication.LoginWithMiTVUserActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- FACEBOOK LOGIN -->
        <activity
            android:name="com.mitv.activities.authentication.LoginWithFacebookActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_nav_bar"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="stateHidden" />
        <!-- android:theme="@style/Theme.Sherlock.Light" -->


        <!-- PASSWORD RESET -->
        <activity
            android:name="com.mitv.activities.authentication.ResetPasswordSendEmailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- PASSWORD RESET FINAL -->
        <activity
            android:name="com.mitv.activities.authentication.ResetPasswordConfirmationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTitleActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- HOCKEY APP ACTIVITIES -->
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity android:name="net.hockeyapp.android.FeedbackActivity" />

        <receiver
            android:name="com.mitv.broadcastreceivers.AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.mitv.broadcastreceivers.AlarmSetter"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.mitv.broadcastreceivers.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
    </application>
    
</manifest>